form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
}

input {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-bottom: 1rem;
    padding: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

input:focus-visible {
    outline: 1px solid var(--main-pink);
}

textarea {
    border: none;
    border-radius: 30px;
    overflow: auto;
    outline: none;
    padding: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

textarea:focus-visible {
    outline: 1px solid var(--main-pink);
}

form button {
    border: none;
    align-self: flex-end;
    margin-top: 1rem;
    min-width: 40%;
    cursor: pointer;
}