.our-specialities a:hover .speciality-image:before {
    background-color: rgba(30, 255, 255, 0.2);
}

.our-specialities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    width: fit-content;
}

.speciality {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 45%;
    transition: all .3s ease-in-out;
    position: relative;
    color: white;
    height: 100%;
}

.speciality-link {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.speciality-image {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.speciality-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.speciality-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speciality h3 {
    position: absolute;
    bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    .specialities {
        grid-template-columns: 1fr;
    }
}